{{!-- Title + body + User + Date --}}
{{!-- Also renders comments via partial --}}
<div>
    {{#with post}}
    {{> blog}}
    {{/with}}
    {{#if loggedIn}}
    <div>
        {{> commentBox}}
    </div>
    {{/if}}
    <div>
        {{#each post.comments as |comment|}}
        {{> comment}}
        {{/each}}
    </div>
    <script src="/assets/scripts/blogPage.js"></script>
</div>
