{{!-- Form with Username, email, password --}}
{{!-- Only Email + PW for login --}}
{{!-- Button to switch between pages (full refresh?) --}}
<div>
    {{> credentialsForm}}
    <script src="/assets/js/credentialsPage.js"></script>
</div>