{{!-- Option to add a new blog post --}}
<button id="addPostButton">New Post</button>    
<ol>
    {{#each posts as |post|}}
    <li data-post-id="{{id}}">
        {{> smallBlog}}
        <div>
            <button class="edit-btn" data-post-id="{{id}}">
                Edit
            </button>
            <button class="delete-btn" data-post-id="{{id}}">
                Delete
            </button>
            </a>
        </div>
    </li>
    {{/each}}
</ol>
<script src="/assets/scripts/dashboard.js"></script>
