{{!-- Lots of blog partials --}}
{{!-- All of the posts --}}
<ol class="space-y-4 w-full">
    {{#each posts as |post|}}
    <li>
        <a href="/posts/{{post.id}}">
        {{> blog}}
        </a>
    </li>
    {{/each}}
</ol>
<script src="/assets/scripts/homePage.js"></script>
