{{!-- Lots of blog partials --}}
{{!-- All of the posts --}}
<ol>
    {{#each posts as |post|}}
    <li>
        <a href="/posts/{{post.id}}">
        {{> blog}}
        </a>
    </li>
    {{/each}}
    <script src="/assets/scripts/homePage.js"></script>
</ol>
