<div class="flex justify-center flex-col items-center bg-cyan-100 m-4 p-4 rounded-md">
    <p class="text-xl font-semibold">Thank you for signing up!</p>
    <p class="text-xl font-semibold">You can now login via the login page.</p>
</div>